{% extends 'student_templates/student_layout.html' %}


{% block content %}

<style>
    .card {
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    .row p{
        font-size: .8rem;
    }
</style>

<div class="row">
    <!-- User Profile Card and Academic Details -->
    <div class="col-md-6 d-md-block">
        <div class="card">
            <div class="card-header">
                Selected Courses
            </div>
            <div class="card-body">
                <!-- Academic Details content -->
                <h1>{{total_items}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-md-block">
        <div class="card">
            <div class="card-header">
                Total Units Selected
            </div>
            <div class="card-body">
                <!-- Academic Details content -->
                <h1>{{total_units}}</h1>
            </div>
        </div>
    </div>
</div>
<!-- Registered Courses -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span>Courses</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 text-uppercase font-medium pl-4" style="font-size: .9rem;">#</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Course Title</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Course Code</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Course Unit</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Lecturer</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course in courses %}
                                    <tr>
                                        <td class="pl-4" style="font-size: .8rem;">{{loop.index}}</td>
                                        <td>
                                            <h5 class="font-medium mb-0" style="font-size: 1rem;">{{course.course_title}}</h5>
                                        </td>
                                        <td>
                                            <span class="text-muted" style="font-size: .8rem;">{{course.course_code}}</span>
                                        </td>
                                        <td>
                                            <span class="text-muted" style="font-size: .8rem;">{{course.course_unit}}</span>
                                        </td>
                                        <td>
                                            <span class="text-muted" style="font-size: .8rem;">{{course.lecturer}}</span>
                                        </td>
                                        
                                        {% if course.registered %}
                                        <td>
                                            <span class="text-success" style="font-size: .8rem;"><i class="fa-solid fa-registered text-info"></i> registered</span>
                                        </td>
                                        {% elif course.selected %}
                                        <td>
                                            <span class="text-info" style="font-size: .8rem;"><i class="fas fa-check text-success"></i> selected</span>
                                        </td>
                                        {% else %}
                                        <td>
                                        {% if total_registered_courses >= 12 %}
                                            <span class="text-muted" style="font-size: .8rem;"><a href="{{url_for('student.available_courses', course_id=course.id)}}" class="btn btn-info text-white badge fw-normal shadow-none" style="font-size: .9rem;">Select</a></span>
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


    <!-- selected courses -->

    {% if selected_courses %}

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span>Selected Courses</span>
                    {% if selected_courses|length > 1 %}
                    <span class="float-end">
                        <a href="{{url_for('student.available_courses', remove_all=True)}}" class="btn btn-danger text-white badge fw-normal" style="font-size: .9rem;">Remove All</a>
                    </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table no-wrap user-table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 text-uppercase font-medium pl-4" style="font-size: .9rem;">#</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Course Title</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Course Code</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Course Unit</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Lecturer</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium" style="font-size: .9rem;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for course in selected_courses %}
                                        <tr>
                                            <td class="pl-4" style="font-size: .8rem;">{{loop.index}}</td>
                                            <td>
                                                <h5 class="font-medium mb-0" style="font-size: 1rem;">{{course.course_title}}</h5>
                                            </td>
                                            <td>
                                                <span class="text-muted" style="font-size: .8rem;">{{course.course_code}}</span>
                                            </td>
                                            <td>
                                                <span class="text-muted" style="font-size: .8rem;">{{course.course_unit}}</span>
                                            </td>
                                            <td>
                                                <span class="text-muted" style="font-size: .8rem;">{{course.lecturer}}</span>
                                            </td>
    
                                            <td>
                                                <span class="text-muted" style="font-size: .8rem;"><a href="{{url_for('student.available_courses', remove_id=course.id)}}" class="btn btn-danger text-white badge fw-normal shadow-none" style="font-size: .9rem;"><i class="fas fa-times"></i></a></span>
                                            </td>
                                        </tr>
                                        {% endfor %}
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        {% if total_units >= 12 and total_units <= 15 %}
        <div class="mt-3 d-flex justify-content-center">
            <a href="{{url_for('student.available_courses', register=True)}}" class="btn btn-info text-white badge fw-normal shadow-none" style="font-size: .9rem;">Register Courses</a>
        </div>

        {% endif %}

    {% endif %}
</div>

{% endblock content %}
